*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(https://www.shutterstock.com/image-illustration/golden-sparkling-swirly-waves-design-260nw-2028491714.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

header{
    background-color: white;
    height: 150px;
}
.header-idioma{
    background-color: white;
    height: 150px;
}
.header-ubicacion{
    background-color: white;
    height: 150px;
}
.header-contactos{
    background-color: white;
    height: 150px;
}
nav{
    height: 100%;
}

.liconteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


a:link{
    background-color: white;
    color: rgb(21, 129, 129);
}

a:hover{
    font-weight: bold;
    padding: 20px;
    background-color: black;
    color: azure;
}

a:active{
    background-color: yellow;
    color: brown;
}

.liconteiner li{
   list-style: none;
}

.fotoconteiner{
    height: 100%;
    width: 75px;
}

.foto{
    width: 75px;
    height: 100%;
}

.h1{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red
}

.section1{
    margin-top: 100px;
}


.imagen1{
    height: 400px;
    width: 300px;
    border: 2px solid black
}

.contiene{
    display: grid;
    grid-template-columns: 1fr;
}

.hijo{
    background-color: white;
    padding: 50px;
    border: 1px solid red;
}

.imagendiv{
    height: 1000px;
    width: 1000px;

}

.article1{
    display: flex;
    justify-content: space-around;
}

.contactos-titulo{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.grid-contenedor .grid-item{
    border: solid 1px;
    font-size: 50px;
    background-color: yellow;
}


#footer{
    display: flex;
    grid-area: footer;
    background-color: black;
    justify-content: space-around;
    border: 2px solid white;
    width: 100%;
    height: 100px;
}

#footer ul li{
    color: white;
}

#footer p{
    color: white;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.containernuevo{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.color{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.color1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.color2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.mapa1{
    width: 100%;
    height: 100%;
    align-items: center;
}

#footer1{
    display: flex;
    grid-area: auto;
    background-color: black;
    justify-content: space-around;
    border: 2px solid white;

}

.footercolor{
    color: white;
}

.basesycondiciones{
    color: white;
    text-align: center;
}

#footer2{
    display: flex;
    grid-area: auto;
    background-color: black;
    justify-content: space-around;
    border: 2px solid white;

}

.footercolor1{
    color: white;
}

.basesycondiciones1{
    color: white;
    text-align: center;
}

.titulo-ubicacion{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.containernuevo1{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;}

.datos-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.footercolor2{
    color: white;
}

.basesycondiciones2{
    color: white;
    text-align: center;
}

#footer3{
    display: flex;
    grid-area: auto;
    background-color: black;
    justify-content: space-around;
    border: 2px solid white;
}

.img3{
    width: 500px;
    height: 500px;
    justify-content: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.container4{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.titulo-idioma{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.footercolor5{
    color: white;
}

.basesycondiciones5{
    color: white;
    text-align: center;
}

#footerr{
    display: flex;
    background-color: black;
    justify-content: space-around;
    grid-area: auto;
    border: 2px solid white;
}

.caption{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.letra-datos{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.table{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.article-color{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.tr1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.tr2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.tr3{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.tr4{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.h2-color{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.color-label1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.color-label2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.checkbtn {
    color: var(--mainColor);
    float: right;
    line-height: 5vh;
    margin-right: 5vh;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
